/* * {

  border: solid 1px #029;
  
}
*/

body {
    background-image: url("data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="%239C92AC" fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E");
}

.ui-widget-content p,
.ui-widget-header p {
    margin: 0;
}

#draggable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
  font-family: 'Inconsolata', sans-serif;
}
